@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-family: "Bangers", cursive;
}
h2 {
  color: white;
  font-family: "Bangers", cursive;
}
h3 {
  color: white;
  font-family: "Bangers", cursive;
}
h4 {
  color: white;
  font-family: "Bangers", cursive;
}
h5 {
  color: white;
  font-family: "Bangers", cursive;
}
h6 {
  color: white;
  font-family: "Bangers", cursive;
}
p {
  color: white;
  font-family: "Roboto", sans-serif;
}

.main-btn {
  color: white;
  background-color: rgb(165, 233, 8);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 150px;
  height: 46px;
  transition: all 0.3s ease-in-out;
  border: none;
}
.main-btn:hover {
  background-color: #fff;
  color: rgb(165, 233, 8);
  transition: all 0.3s ease-in-out;
}

/* -----------Section 01------------ */

.section_1 .content {
  position: relative;
}

.section_1 .content .banner-1 {
  height: 100vh;
  width: 100%;
}
.section_1 .content .banner-1 img {
  width: 100%;
  background-repeat: no-repeat;
  height: 90vh;
}
.section_1 .content .text-content {
  position: absolute;
  top: 30%;
  left: 5%;
}
.section_1 .content .text-content h1 {
  font-size: 62px;
  letter-spacing: 4px;
}
.section_1 .content .text-content .icons {
  padding-left: 8px;
  margin-bottom: 20px;
}
.section_1 .content .text-content .icons a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  padding-right: 18px;
}
.section_1 .content .logo {
  position: absolute;
  top: 25%;
  right: 5%;
}

/* ------------Section 02------------- */

.section_2 {
  height: 50vh;
}
.section_2 {
  height: 50vh;
  width: 100%;
}
.section_2 .about-content {
  margin-top: 60px;
  margin-left: 70px;
}

.section_2 .about-content h2 {
  font-size: 48px;
  letter-spacing: 2px;
}
.section_2 .about-content p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-right: 40px;
  line-height: 1.5;
}
.section_2 .about-content button {
  margin-top: 50px;
}
.section_2 .img-1 img {
  background-repeat: no-repeat;

  width: 100%;
  height: 40vh;
}

/* ----------Section 03----------- */

.section_3 {
  width: 100%;
  height: 80vh;
}
.section_3 .gallery-img {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I3"
    "I4 I5 I6 I7";
}

.img-1 {
  grid-area: I1;
}
.img-2 {
  grid-area: I2;
}
.img-3 {
  grid-area: I3;
}
.img-4 {
  grid-area: I4;
}
.img-5 {
  grid-area: I5;
}
.img-6 {
  grid-area: I6;
}
.img-7 {
  grid-area: I7;
}

.section_3 .gallery-img .img-1 img {

  width: 100%;
  height: 50vh;
}
.section_3 .gallery-img .img-2 img {

  width: 100%;
  height: 50vh;
}
.section_3 .gallery-img .img-3 img {

  width: 100%;
  height: 50vh;
}
.section_3 .gallery-img .img-4 img {

  width: 100%;
  height: 50%;
}
.section_3 .gallery-img .img-5 img {

  width: 100%;
  height: 50%;
}
.section_3 .gallery-img .img-6 img {

  width: 100%;
  height: 50%;
}
.section_3 .gallery-img .img-7 img {

  width: 100%;
  height: 50%;
}

.section_3 .gallery-img .img-1 {
  position: relative;
}

.section_3 .img-1 .img-cont {
  position: absolute;
  top: 50%;
  left: 3%;
}
.section_3 .gallery-img .img-3 {
  position: relative;
}
.section_3 .img-3 .img-cont2 {
  position: absolute;
  top: 50%;
  left: 3%;
}

/* ---------Section------ 04 */

.section_4 {
  margin-top: 100px;
  margin-left: 60px;
  height: 90vh;
}

.section_4 .content-4 {
  height: 20vh;
  margin-left: 20px;
}
.section_4 .content-4 h1 {
  letter-spacing: 2px;
  font-size: 46px;
}
.section_4 .content-4 p {
  font-size: 14px;
}

.section_4 .row1 {
  height: 70vh;
  width: 95%;
}
.section_4 .cont-4 img {
  width: 100%;
  height: 35vh;
  margin-bottom: 50px;
}
.section_4 .cont-4 p {
  margin-left: 20px;
  font-size: 14px;
}
.section_4 .cont-4 button {
  margin-left: 20px;
}

/* -----------section 05------------ */

.section_5 {
  width: 100%;
  height: 100vh;
}
.section_5 .banner-3 {
  position: relative;
}
.banner-3 img {
  height: 50vh;
  width: 100%;
  /* position: relative; */
}
.section_5 .banner-3 .ban-content {
  position: absolute;
  top: 20%;
  left: 10%;
}
.section_5 .banner-3 .ban-content h1 {
  font-size: 48px;
}
.section_5 .banner-3 .ban-content p {
  font-size: 14px;
}
.section_5 .counting {
  display: flex;
  position: absolute;
  top: 50%;
  left: 10%;
  justify-content: space-between;
}
.section_5 .counting .head1 {
  margin-right: 200px;
}
.section_5 .counting .head1 h1 {
  font-size: 80px;
}
.section_5 .counting .head1 p {
  font-size: 14px;
}

.section_5 .banner-4 {
  position: relative;
}
.banner-4 img {
  height: 50vh;
  width: 100%;
}
.section_5 .banner-4 .cont4 {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 50%;
}
.section_5 .banner-4 .cont4 h1 {
  font-size: 54px;
  letter-spacing: 2;
}
.section_5 .banner-4 .cont4 p {
  font-size: 14px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.section_5 .banner-4 .tags {
  position: absolute;
  top: 30%;
  right: 5%;
}
.section_5 .banner-4 .tags ul li {
  color: white;
  font-size: 16px;
}

/* 06 section */

.section_6 {
  width: 100%;
  height: 90vh;
  margin-top: 100px;
}
.section_6 .quote {
  position: relative;
}

.section_6 .quotes-1 {
  height: 30vh;
}
.section_6 .quotes-1 img {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.section_6 .quotes-1 .quote-content {
  position: absolute;
  left: 40%;
  top: 8%;
}
.section_6 .quotes-1 .quote-content h3 {
  font-size: 32px;
}
.section_6 .quotes-1 .quote-content p {
  font-size: 14px;
  margin-right: 180px;
}
.section_6 .quotes-2 {
  height: 30vh;
}
.section_6 .quotes-2 img {
  position: absolute;
  top: 50%;
  right: 15%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.section_6 .quotes-2 .quot-content {
  position: absolute;
  left: 15%;
  top: 50%;
}
.section_6 .quotes-2 .quot-content p {
  font-size: 14px;
  margin-right: 480px;
}
.section_6 .quote-banner img {
  height: 30vh;
  width: 100%;
}
/* -------- */
.section_7 {
  height: 50vh;
}
.footer {
  position: relative;
}
.footer-row {
  position: absolute;
  top: 30%;
}
.footer-row .spans span {
  color: white;
  font-size: 18px;
}
.footer-row .footer-logo img {
  width: 200px;
}
